﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our firm</h1>
    <p>Please click the link to view our list of employees.</p>
</div>

<a href="/employees">View employees</a>