﻿@model IEnumerable<CegWeboldal.Models.Employee>

<h2>EmployeesList</h2>
@if (Model.Count() == 0)
{
    <p>No data in the databse!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Fname)</th>
            <th>@Html.DisplayNameFor(m => m.First().Sname)</th>
            <th>@Html.DisplayNameFor(m => m.First().Post)</th>
            <th>@Html.DisplayNameFor(m => m.First().Picture)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>

        @foreach (var employee in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => employee.Fname)</td>
                <td>@Html.DisplayFor(m => employee.Sname)</td>
                <td>@Html.DisplayFor(m => employee.Post)</td>
                <td>@Html.DisplayFor(m => employee.Picture)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = employee.Empid })</td>
                <td>@Html.ActionLink("[DELL]", "Remove", new { id = employee.Empid })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = employee.Empid })</td>
            </tr>
        }
    </table>
}
