﻿@model CegWeboldal.Models.Employee

<h2>EmployeesEdit</h2>

@using (Html.BeginForm("Edit", "Employees"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Empid)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Fname)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Fname)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Sname)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Sname)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Post)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Post)</div>
}
<br>
<input type="file" id="myFile" name="filename"/>
<br>
<br>
<input type="submit" value="SAVE CHANGES" />