﻿@model CegWeboldal.Models.Employee

<h2>EmployeesLogin</h2>

@*@using (Html.BeginForm("Login", "Employees"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Empid)

    <div class="label-field">@Html.LabelFor(m => m.Username)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Username)</div>
    <div class="label-field">@Html.LabelFor(m => m.Emppassword)</div>
    <div class="password-field">@Html.PasswordFor(m => m.Emppassword)</div>
}*@

@using (Html.BeginForm("Login", "Employees"))
{
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <button type="submit">Login</button>
    </div>
}
