﻿@model CegWeboldal.Models.Employee

@{
    ViewData["Title"] = "EmployeesDetails";
}

<h2> Datasheet of an employee </h2>
    
@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Fname)</td>
        <td>@Html.DisplayFor(m => m.Fname)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Sname)</td>
        <td>@Html.DisplayFor(m => m.Sname)</td>
    </tr>
</table>
